@media (max-width: 1079px){
    #asideMedium{
        display: none
    }
}

@media (max-width: 575px){
    .navMedium{
        border-bottom: 1px solid gray;
        
    }
    .iconMedium{
        margin-left: .6rem;
        margin-right: 11rem;
        margin-top: .5rem;
        margin-bottom: .3rem;
    }
    
    #asideMedium{
        display: none
    }
}

.iconMedi{
    background-size: 35px 35px;
    display: block;
    width: 35px;
    height: 35px;
    margin: 0px;   
}

.backG-prueba{
    background-color: aquamarine;
}