@media (min-width: 1080px) {
  .navMedium {
    background-color: aquamarine;
    display: none;
  }
  .iconMedium {
    display: none;
  }
  #btnNavMedium section {
    display: none;
  }
}

@media (max-width: 1079px) {
  #asideMedium {
    display: none;
  }
}

@media (max-width: 575px) {
  .navMedium {
    border-bottom: 1px solid gray;
  }
}

@media (min-width: 1080px) {
  #nav-bar-media {
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 0px;
      top: 0px;
      width: 80px;
  }
  #container-center-nav {
      display: flex;
      flex-direction: column;
      height: 20rem;
    }
    #disappear-desktop {
        display: none;
    }
  }

@media (max-width: 1079px) {
  #icon-medium {
      display: none;
  }
  #disappear-mobile {
      display: none;
  }
}

nav svg {
  color: rgb(165, 165, 165);
}

hr {
  width: 30px;
}

.iconMedi{
  background-size: 35px 35px;
  display: block;
  width: 35px;
  height: 35px;
  margin: 0px;   
}

#p-bold p {
  font-weight: 700;
  margin-bottom: 0px;
}

#p-bold span {
  font-size: 12px;
}

#p-bold br {
  margin-bottom: 0px;
}

#last-text {
  color: gray;
  font-size: 12px;
  width: 190px;
}